.card {
  border-radius: 8px;
  border: 1px solid #e1dcd0;
  background: #fdfdfd;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.content {
  display: flex;
  color: #282828;

  & h2 {
    font-weight: 600;
  }

  & p {
    font-weight: 400;
    line-height: 24px;
  }
}

.iconsBlock {
  margin-right: 24px;
  & .icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.transfer {
  background: #f5cc82;

  padding: 13px 8.694px 13px 9px;
}

.payment {
  background: #fdf1dc;
  padding: 8px;
}

@media (max-width: 1100px) {
  .content {
    & h2 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  .card h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 670px) {
  .card {
    padding: 16px 8px;

    & h2 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .content {
    display: flex;
    color: #282828;

    & h2 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }

    & p {
      font-size: 12px;
    }
  }

  .iconsBlock {
    margin-right: 8px;
    display: flex;
    align-items: center;
    & .icon {
      width: 40px;
      height: 40px;

      & img {
        width: 24px;
      }
    }
  }
}
